#add-note,
#add-note-cours{
  padding-top: 100px;
  width: 1080px;
  margin: auto;
  .mdl-textfield {
  width:100%;
  margin: 25px auto;
  display:block;
  }
  .mdl-button {
  display:block;
  margin:auto;
  }
}