#add-note,
#add-note-cours,
#note-edit,
#list-note{
  padding-top: 100px;
  width: 1080px;
  margin: auto;
  .mdl-textfield {
  width:100%;
  margin: 25px auto;
  display:block;
  }
  .mdl-button {
  display:block;
  margin:auto;
  }
    table {
      width:100%;
      td,th {
        text-align:left;
        height: 65px;
        vertical-align:middle;
      }
    }
}