// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "mixins.scss";
@import "font.scss";
@import "header.scss";
@import "login-form.scss";
@import "timeline.scss";
@import "timeline-guid.scss";
@import "nav.scss";
@import "create-user.scss";
@import "list-user.scss";
@import "info.scss";
@import "add-lesson.scss";
@import "list-lesson.scss";
@import "add-note.scss";


body,html {
  @include clearfix;
}
body {
  font-family: $font !important;
  &.auth-login {
    header {
      display: none;
    }
  }
  &.lessons-add{
    .mdl-layout__drawer-button {
      height: auto;
      width: auto;
      margin: 20px 0 0 17px;
    }
  }
  .mdl-layout {
    height: auto;
  }
  .mdl-layout__obfuscator {
    z-index: 9997;
  }
  .mdl-layout__drawer {
    z-index: 9998;
  }
  iframe.fancybox-iframe {
    height: 100%;
    position: relative;
    z-index: 999;
  }
  .fancybox-inner {
    overflow: hidden !important;
  }
  .fancybox-overlay {
    width: 100% !important;
    height: 100% !important;
    position: fixed;
  }
}

