section#add-user-form {
  .mdl-card {
    margin: 100px auto;
  }
  button {
    margin: 25px auto;
    display: block;
  }
  .select-wrapper {
    padding: 5px 0;
  }
  .mdl-card__supporting-text {
    width: 100%;
  }
}