.timeline-guid {
  margin: 25px auto;
  position: fixed;
  top: 60px;
  width: 200px;
  text-align: center;
  right: 15px;
  background: white;
  z-index: 999;
  @include breakpoint(tablet) {
    position: static;
    width: 100%;
  }
  button {
    margin-bottom: 15px;
    @include breakpoint(tablet) {
      margin: 5px;
    }
    a {
      position: relative;
      z-index: 999;
      display: block;
      color: #000;
    }
  }
}